.di{
    min-height: 400px;
    // background: #4982cc;
    padding : 14px;
    margin-left:50px;
    color:white;
    border-radius: 40px;
    cursor: pointer;
}
.di-icon{
    font-size: 10em;
    text-align: center;
}

.di-content{
    font-size: 24px;
    text-align: center;
}

